# **Iris**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [ ]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
inputs = df.drop('variety',axis='columns')
target = df.variety
inputs.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
target.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [ ]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

## **0.2**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9666666666666667

In [ ]:
X_test[0:10]

     sepal.length  sepal.width  petal.length  petal.width
128           6.4          2.8           5.6          2.1
11            4.8          3.4           1.6          0.2
118           7.7          2.6           6.9          2.3
15            5.7          4.4           1.5          0.4
123           6.3          2.7           4.9          1.8
135           7.7          3.0           6.1          2.3
32            5.2          4.1           1.5          0.1
1             4.9          3.0           1.4          0.2
116           6.5          3.0           5.5          1.8
45            4.8          3.0           1.4          0.3

In [ ]:
y_test[0:10]

128    Virginica
11        Setosa
118    Virginica
15        Setosa
123    Virginica
135    Virginica
32        Setosa
1         Setosa
116    Virginica
45        Setosa
Name: variety, dtype: object

In [ ]:
model.predict(X_test[0:10])

array(['Virginica', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Setosa'],
      dtype='<U10')

In [ ]:
model.predict_proba(X_test[0:10])

array([[1.52314757e-181, 1.00459070e-005, 9.99989954e-001],
       [1.00000000e+000, 1.67343333e-017, 2.53978784e-024],
       [6.62123417e-284, 1.14604320e-012, 1.00000000e+000],
       [1.00000000e+000, 7.22917353e-017, 1.74453536e-022],
       [1.12851495e-126, 1.24843238e-001, 8.75156762e-001],
       [1.03706066e-232, 9.68646541e-011, 1.00000000e+000],
       [1.00000000e+000, 7.18542857e-021, 3.60302120e-026],
       [1.00000000e+000, 1.56900239e-017, 5.26042486e-025],
       [2.00081094e-156, 1.97725767e-003, 9.98022742e-001],
       [1.00000000e+000, 2.50923853e-016, 3.44025726e-024]])

## **0.3**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9555555555555556

## **0.4**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9666666666666667

## **Sepal Length**

In [ ]:
sepal_length = inputs.copy()

sepal_length.drop(['sepal.width','petal.width','petal.length'],axis="columns", inplace=True)
sepal_length

def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  model = GaussianNB()
  model.fit(X_train,y_train)
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(sepal_length, 0.2))
print("test size 0.3:", accuracy(sepal_length, 0.3))
print("test size 0.4:", accuracy(sepal_length, 0.4))

test size 0.2: 0.8
test size 0.3: 0.7777777777777778
test size 0.4: 0.7833333333333333

## **Sepal Width**

In [ ]:
sepal_width = inputs.copy()

sepal_width.drop(['sepal.length','petal.length','petal.width'],axis="columns", inplace=True)
sepal_width

def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  model = GaussianNB()
  model.fit(X_train,y_train)
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(sepal_width, 0.2))
print("test size 0.3:", accuracy(sepal_width, 0.3))
print("test size 0.4:", accuracy(sepal_width, 0.4))

test size 0.2: 0.5
test size 0.3: 0.5777777777777777
test size 0.4: 0.5333333333333333

## **Petal Length**

In [ ]:
petal_length = inputs.copy()

petal_length.drop(['sepal.length','sepal.width','petal.width'],axis="columns", inplace=True)
petal_length

def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  
  #Memasukkan isi model ke dalam fit X_train, y_train untuk menentukan pola model datanya
  model = GaussianNB()
  model.fit(X_train,y_train)
  #Memasukkan score kebenaran dengan perbandingan parameter X_text dan y_test
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(petal_length, 0.2))
print("test size 0.3:", accuracy(petal_length, 0.3))
print("test size 0.4:", accuracy(petal_length, 0.4))

test size 0.2: 0.9333333333333333
test size 0.3: 0.9555555555555556
test size 0.4: 0.95

## **Petal Width  Sepal Length**

In [ ]:
#Kombinasi dari attribut (petal width)
petal_width = inputs.copy()

petal_width.drop(['sepal.width','petal.length'],axis="columns", inplace=True)
petal_width

def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  
  #Memasukkan isi model ke dalam fit X_train, y_train untuk menentukan pola model datanya
  model = GaussianNB()
  model.fit(X_train,y_train)
  #Memasukkan score kebenaran dengan perbandingan parameter X_text dan y_test
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(petal_width, 0.2))
print("test size 0.3:", accuracy(petal_width, 0.3))
print("test size 0.4:", accuracy(petal_width, 0.4))

test size 0.2: 0.9666666666666667
test size 0.3: 0.9555555555555556
test size 0.4: 0.9666666666666667

# **Adult**

In [ ]:
df = pd.read_csv("adult.csv")
df.head()

   age  workclass  fnlwgt  ... hours-per-week  native_country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
inputs = df.drop('income',axis='columns')
inputs['workclass'] = preprocessing.LabelEncoder().fit_transform(inputs.workclass)
inputs['fnlwgt'] = preprocessing.LabelEncoder().fit_transform(inputs.fnlwgt)
inputs['education'] = preprocessing.LabelEncoder().fit_transform(inputs.education)
inputs['marital_status'] = preprocessing.LabelEncoder().fit_transform(inputs.marital_status)
inputs['occupation'] = preprocessing.LabelEncoder().fit_transform(inputs.occupation)
inputs['relationship'] = preprocessing.LabelEncoder().fit_transform(inputs.relationship)
inputs['race'] = preprocessing.LabelEncoder().fit_transform(inputs.race)
inputs['gender'] = preprocessing.LabelEncoder().fit_transform(inputs.gender)
inputs['native_country'] = preprocessing.LabelEncoder().fit_transform(inputs.native_country)
target = df.income
inputs.head()

   age  workclass  fnlwgt  ...  capital-loss  hours-per-week  native_country
0   25          4   19329  ...             0              40              39
1   38          4    4212  ...             0              50              39
2   28          2   25340  ...             0              40              39
3   44          4   11201  ...             0              40              39
4   18          0    5411  ...             0              30              39

[5 rows x 14 columns]

In [ ]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

## **0.2**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8047906643464019

In [ ]:
X_test[0:10]

       age  workclass  fnlwgt  ...  capital-loss  hours-per-week  native_country
12393   37          4    6176  ...             0              60              39
48701   23          4    1686  ...             0              50              39
17918   28          4    4204  ...             0              48              39
11352   30          4   25909  ...             0              38              39
36198   31          4   11637  ...             0              40              39
14102   18          4   17961  ...             0              20              39
41731   28          4   27765  ...             0              40              39
23995   47          2    7646  ...             0              60              39
36248   37          4   10296  ...             0              40              39
12244   76          4    3746  ...             0              45              39

[10 rows x 14 columns]

In [ ]:
y_test[0:10]

12393     >50K
48701    <=50K
17918    <=50K
11352    <=50K
36198    <=50K
14102    <=50K
41731    <=50K
23995     >50K
36248    <=50K
12244    <=50K
Name: income, dtype: object

In [ ]:
model.predict(X_test[0:10])

array(['<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '>50K', '<=50K', '<=50K'], dtype='<U5')

In [ ]:
model.predict_proba(X_test[0:10])

array([[9.70643948e-01, 2.93560524e-02],
       [9.98726515e-01, 1.27348455e-03],
       [9.90800330e-01, 9.19966997e-03],
       [9.99966486e-01, 3.35138017e-05],
       [9.99785479e-01, 2.14521172e-04],
       [9.99997160e-01, 2.84025170e-06],
       [9.99991217e-01, 8.78323642e-06],
       [1.88284022e-14, 1.00000000e+00],
       [9.97944470e-01, 2.05552987e-03],
       [9.97804623e-01, 2.19537712e-03]])

## **0.3**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8003821742987784

## **0.4**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4,random_state = 100)
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7997645493166812

## **age workclass educational-num occupation capital-gain capital-loss hours-per-week income**

In [ ]:
adult1 = inputs[['age','workclass','educational-num','occupation','capital-gain','capital-loss','hours-per-week']]
def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  
  #Memasukkan isi model ke dalam fit X_train, y_train untuk menentukan pola model datanya
  model = GaussianNB()
  model.fit(X_train,y_train)
  #Memasukkan score kebenaran dengan perbandingan parameter X_text dan y_test
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(adult1, 0.2))
print("test size 0.3:", accuracy(adult1, 0.3))
print("test size 0.4:", accuracy(adult1, 0.4))

test size 0.2: 0.8022315487767427
test size 0.3: 0.7969699037739713
test size 0.4: 0.7954138301683984

In [ ]:
adult1 = inputs[['age','workclass','educational-num','race','capital-gain','capital-loss']]
def accuracy(inputs, testing):
  X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=testing, random_state = 100)
  
  #Memasukkan isi model ke dalam fit X_train, y_train untuk menentukan pola model datanya
  model = GaussianNB()
  model.fit(X_train,y_train)
  #Memasukkan score kebenaran dengan perbandingan parameter X_text dan y_test
  accuracy_score = model.score(X_test,y_test)
  return accuracy_score

print("test size 0.2:", accuracy(adult1, 0.2))
print("test size 0.3:", accuracy(adult1, 0.3))
print("test size 0.4:", accuracy(adult1, 0.4))

test size 0.2: 0.8010031733033064
test size 0.3: 0.7965604313109943
test size 0.4: 0.794953165787992